* {
  margin: 0%;
  font-family: "Work Sans", sans-serif;
}

.btn-color {
  background-color: #b68c5a;
}

.legal-solution {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

.legal-heading {
  margin: 10px 200px;
}

.fa-circle-right {
  color: #b68c5a;
  height: 20px;
  width: 20px;
}

/* carousel */

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

.carousel-indicators {
  transform: translateY(-50%);
  bottom: initial;
  top: 80%;
}
.h1 {
  font-size: 60px;
  color: red;
}
